<div class="bg-grey-200 min-h-screen p-6 container">
  <div class="p-4 border-gray-400 bg-gray-200 w-full mb-10 border-2 rounded-sm">
    <h1 class="font-semibold text-lg text-gray-800">🌴 What's next?</h1>
    <div class="text-gray-800 mt-1">
      <p>
        Compare average <span class="font-semibold">temperature</span> and
        <span class="font-semibold">expenses</span> between available destinations.
      </p>
      <p>
        You can also pick a departure to see
        <span class="font-semibold">flights</span> costs 🕵️‍♀️
      </p>
    </div>
  </div>

  <form class="flex flex-col md:flex-row items-center mx-auto lg:ml-0 mb-6 lg:mb-12 md:w-2/3">
    <div class="w-full md:w-1/3">
      <label class="block text-gray-500 font-bold text-center lg:text-right mb-3 md:mb-0 pr-4" for="departure">
        Select departure
      </label>
    </div>
    <div class="w-full md:w-2/3">
      <input
        id="departure"
        class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-teal-500"
        auto-complete
        auto-complete-placeholder="Select airport"
        min-chars="2"
        loading-text="Loading.."
        max-num-list="10"
        no-match-found-text="No airports found"
        [value-formatter]="locationFormatter"
        [list-formatter]="locationFormatter"
        [source]="locations.bind(this)"
        auto-select-first-item="true"
        (valueChanged)="onDepartureLocationChanged($event)"
        type="test"
      />
    </div>
  </form>

  <ng-container *ngIf="cities$ | async as cities; else loading">
    <div class="flex flex-col items-center lg:flex-row lg:justify-between">
      <div
        *ngFor="let city of cities$ | async; trackBy: trackByFn"
        class="mb-4 lg:mb-0 w-full md:w-76"
        [@fadeAnimation]="'visible'"
      >
        <app-city-container
          [city]="city"
          [lifeCostMax]="getLifeCostMax(cities)"
          [avgTemperatureMax]="avgTemperatureMax"
          [avgFlightsPriceMax]="avgFlightsPriceMax"
          [departureAirportCode]="departureAirport$ | async"
        ></app-city-container>
      </div>
    </div>
  </ng-container>
  <ng-template #loading>
    <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
      <app-spinner></app-spinner>
    </div>
  </ng-template>
</div>
