<div class="bg-white border rounded-lg overflow-hidden max-w-md">
  <div class="relative bg-teal-800 pb-2/3">
    <img class="absolute opacity-75 top-0 h-full w-full object-cover object-center" [src]="city.imageSrc" />
    <h1 class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-2xl font-bold text-white">
      {{ city.name | titlecase }}
    </h1>
  </div>

  <div class="px-4 pt-4 pb-6">
    <div *ngIf="currentCondition" class="flex items-center justify-center">
      <img [src]="currentCondition.weatherIconSrc" />
      <span class="text-gray-600 text-xs uppercase font-semibold tracking-wide"
        >Currently {{ currentCondition.weatherText }} ({{ currentCondition.temperature | temperatureLabel }})</span
      >
    </div>
    <div class="mt-3">
      <span class="text-gray-800 font-semibold inline-block">💰️Expenses</span>
      <div class="mt-1">
        <app-horizontal-bar
          [percentage]="(city.lifeCost.value * 100) / lifeCostMax"
          [label]="lifeCostLabel"
          [isInverted]="true"
        ></app-horizontal-bar>
      </div>

      <div class="mt-2" *ngIf="avgTemperature && avgTemperatureMax">
        <span class="text-gray-800 font-semibold inline-block"
          >🌡Temperature &bull;
          <a class="text-sm underline font-semibold text-gray-600" [href]="avgTemperature.url" target="_blank"
            >show more</a
          ></span
        >
        <div class="mt-1">
          <app-horizontal-bar
            [percentage]="(avgTemperature.value * 100) / avgTemperatureMax"
            [label]="avgTemperature | temperatureLabel"
          ></app-horizontal-bar>
        </div>
      </div>

      <div *ngIf="avgFlightsPriceMax">
        <div class="mt-4" *ngIf="isAvgFlightsPriceLoading; else content">
          <app-spinner widthClass="w-8"></app-spinner>
        </div>
        <ng-template #content>
          <div class="mt-2" *ngIf="avgFlightsPrice">
            <span class="text-gray-800 font-semibold inline-block">🛫Flight prices</span>
            <div class="mt-1">
              <app-horizontal-bar
                [percentage]="(avgFlightsPrice.value * 100) / avgFlightsPriceMax"
                [label]="avgFlightsPrice.value + ' ' + avgFlightsPrice.unit"
                [isInverted]="true"
              ></app-horizontal-bar>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
