<div class="relative bg-gray-900 w-full rounded-r h-6">
  <span class="absolute left-1/12 top-1/2 transform -translate-y-1/2 z-10 text-white font-semibold text-sm">{{
    label | titlecase
  }}</span>
  <div
    [ngStyle]="{ width: _percentage + '%' }"
    [ngClass]="barColorClass"
    class="h-full absolute left-0 text-white transition-width duration-300 ease-in delay-200 rounded-r text-center"
  ></div>
</div>
